[Unit]
Description=tg-bot
After=multi-user.target

[Service]
User=root
Group=root
Type=simple
Restart=always
ExecStart=/usr/bin/python3.10 /zfkkt_bot/bot.py

[Install]
WantedBy=multi-user.target
