[Unit]
Description=tg-bot
After=multi-user.target

[Service]
Restart=always
ExecStart=/zfkkt_bot/bot.py

[Install]
WantedBy=multi-user.target
